@font-face {
  font-family: "Montserrat-black";
  src: url(font/Montserrat/static/Montserrat-Black.ttf);
}

@font-face {
  font-family: "Montserrat-light";
  src: url(font/Montserrat/static/Montserrat-Light.ttf);
}

body {
  --text-color: #222;
  --bkg-color: #fff;
  --btn-color: #5f5f5f8a;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #45464f;
  --btn-color: #cacfff8a
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #eee;
    --bkg-color: #45464f;
    --btn-color: #cacfff8a;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
    --btn-color: #5f5f5f8a;
  }
}

* {
  font-family: "Montserrat-black";
}

html {
  scroll-behavior: smooth;
  
}

body {
  text-align: center;
  background-color: var(--bkg-color);
  color: var(--text-color);
}

h1 {
  font-size: 64px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  backdrop-filter: blur(10px);
  text-align: right;
  text-decoration: none;
  color: var(--text-color);
  font-family: "Montserrat-light";
}

nav, il, a {
  text-decoration: none;
  color: var(--text-color)
}

nav, il, a:hover {
  color:rgb(126, 13, 255);
}

button {
  height: 40px;
  width: 40px;
  border: 0;
  border-radius: 50%;
  background: var(--btn-color);
  z-index: 1;
}

button:hover {
  background: rgb(167, 176, 255);
  transform: scale(1.05);
  transition: 500ms;
}

button:active {
  transform: scale(0.90);
  transition: 150ms;
}

p {
  font-family:'Montserrat-light';
  font-size: 24px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* @font-face {
  font-family: "Halvar Breit Blk";
  src: url(font/HalvarBreit-Blk.ttf);
} */

/* nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  backdrop-filter: blur(10px);
  text-align: left;
  text-decoration: none;
  color: var(--text-color)
}

nav, il, a {
  text-decoration: none;
  color: var(--text-color)
}

nav, il, a:hover {
  color:rgb(126, 13, 255);
}

header {
  margin: 55px 0;
}

body {
  background: var(--bkg-color);
  height: 100vh;
}

footer {
  background: var(--bkg-color);
  height: 50vh;
}

div {
  color: var(--text-color);
}

h1,
p {
  color: var(--text-color);
}

img { 
  width: 32px; 
  height: 32px;
}

button {
  position: fixed;
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 50%;
  background: var(--btn-color);
  z-index: 1;
  bottom: 8px;
  left: 8px;
}

button:hover {
  background: rgb(167, 176, 255);
  transform: scale(1.05);
  transition: 500ms;
}

button:active {
  transform: scale(0.90);
  transition: 150ms;
}

video {
  text-align: right;
}

.img {
  height: 300px;
  width: 300px;
  text-align: center;
} 